:root {
    --black: #000;
    --white: #fff;
    --disable: #F44336;
    --grey-100: #BDBDBD;
    --grey-200: #4F4F4F;
    --grey-300: #F2F2F2;
    --yellow-100: #FFD600;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 62.5%;
    font-weight: 500;
}
button {
    border: none;
}
em {
    font-style: normal;
}
div, span, em, p {
    font-size: 1.6rem;
}
ul>li,ol>li {
    list-style: none;
}
button {
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
}
